@page
@model IndexModel
@{
    ViewData["Title"] = "Главная";
}

  <div class="main__bigpic">
                    <h1 class="title">Debit card recommended by your friends</h1>
                    <p class="subtitle">Cashback up to&nbsp;30%.&nbsp;5% per annum. Commission-free transfers</p>
                    <button class="btn btn-blue">Order now</button>
                    <img src="img/card.png" alt="Card" class="card__img">
                </div>
                <div class="main__content">
                    <h1 class="title">Recommended products</h1>
                    <div class="post__big">
                        <div class="post">
                            <img src="img/poster_one.jpg" alt="">
                            <p class="post__title">Credit card</p>
                        </div>
                        <div class="post">
                            <img src="img/poster_two.jpg" alt="">
                            <p class="post__title">Investment</p>
                        </div>
                    </div>
                    <div class="post__small">
                        <div class="post">
                            <img src="img/poster_three.jpg" alt="">
                            <p class="post__title">Insurance</p>
                        </div>
                        <div class="post">
                            <img src="img/poster_four.jpg" alt="">
                            <p class="post__title">SIM Card</p>
                        </div>
                        <div class="post">
                            <img src="img/poster_five.jpg" alt="">
                            <p class="post__title">For Business</p>
                        </div>
                    </div>
                </div>
                <div class="main__menu">
                    <ul class="menu__mid">
                        <li><i class="fa-brands fa-cc-visa"></i><p>Visa</p></li>
                        <li><i class="fa-brands fa-cc-mastercard"></i><p>MasterCard</p></li>
                        <li><i class="fa-solid fa-money-bills"></i><p>Cash</p></li>
                        <li><i class="fa-solid fa-crown"></i><p>Premium</p></li>
                        <li><i class="fa-solid fa-chart-line"></i><p>Investment</p></li>
                    </ul>
                </div>